/.terraform
/.terraform.lock.hcl
/.vscode
/terraform.tfstate
/terraform.tfstate.backup


services/signup/node_modules/
services/signup/dist/
services/signup/.env
services/signup/.npm
services/signup/external_development.env
services/signup/src/configs/ENVs/envMock.ts


packages/common/node_modules/
packages/common/dist/

packages/events/node_modules/
packages/events/dist/

